:root {
    --primary-color: rgba(160, 122, 188, 0.274); 
    --back-color : rgba(160, 122, 188, 0.9);
}
#header_mio{
    color: red;
    background-image: url(cordoni.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#overlay{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom:0;
    background-color: rgba(230, 0, 88, 0.321);
    width: 100%;
    height: 100%;
}
#body_mio{
    margin: 0;
    background-color: var(--primary-color);
}
#header_mio nav{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 1.5em;
    padding: 20px;
    height: 5%;
}
#links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img_p{
    width: 50%;
    border-radius: 10%;   
}
.img_container{
    display: flex;
    align-items: center;
    justify-content: center;
}
#scritta_p{
    text-align: center;
    color: black;
    font-size: 2em;
    font-family: 'Alkatra',sans-serif;
    letter-spacing: 3px;
    z-index: 4;
    max-width: 780px;
}
#profilo_mio{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: -50px;
}
#profilo_mio p{
    margin: 0;
    color: red;
}
#foto_profilo{
    border-radius: 50%;
    height: 100px;
    z-index: 7;
}
.nav_links{
    cursor: pointer;
    padding: 10px 15px;
    border: 2px solid green;
    border-radius: 100px;
    background-color:var(--back-color);
    text-decoration: none;
    font-weight: bold;
    color: #E4221D;
}
#profilo_mio p a{
    cursor: pointer;
    text-decoration: none;
}
#profilo_mio p a:visited{
    color: red;
}
#profilo_mio p a:hover{
    color: rgba(255, 0, 0, 0.695);
}
.nav_links:hover{
    background-color: rgba(var(--back-color), 0.4);
}
#section_mio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: calc(66.67% + 80px);
    margin-left: auto;
    margin-right: auto;
    margin-top:60px;   
}
#section_mio #cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.numero{
    font-size: 1.8em;
    margin: 0;
    padding: 0;
}
.cont{
    display: flex;
    margin-bottom: 120px;
}
.contpiccolo{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    justify-content: center;
    align-items: center;
}
.titolo{
    font-size: 1.8em;
    font-family: 'Ubuntu',sans-serif;
    font-weight: normal;
    margin-top: 0;
}
.paragrafo{
    font-size: 1.5em;
    font-family: 'Roboto',sans-serif;
    line-height: 40px;
    margin: 20px 0px;
}
#profilo_mio p{
    font-size: 1em;
    font-family: 'Times New Roman', Times, serif;
}
#menu{
    display: none;
    }
#menu div {
    width: 25px;
    height: 3px;
    background-color: red;
    margin: 5px 0;
    }
#footer_mio{
    background-color: rgb(31,31,31);
    color: var(--back-color);
    font-size: 1.2em;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
    text-align: center;
}
@media (max-width: 657px) {
        .nav_links{
            display:none;
        }
        #menu{
            display: flex;
            flex-direction: column;
        }
        #links a img{
            width: 50%;
            height: 50%;
        }
        .img_p{
            width: 100%;
            height: 100%;
        }
}